.partners {
    margin-top: 35px;
    text-align: center;
}

.section-heading--partner {
    margin-left: -8px;
}

@mixin icon($spriteurl, $width, $height, $offset-x, $offset-y) {
    #{width}: 17px;
    #{height}: 16px;
    background: url(#{$spriteurl}) $offset-x $offset-y no-repeat;
}

.partner {
    position: relative;
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 26px;

    &:hover &__avatar {
        transition: .5s;
        transform: scale(1.1, 1.1);
    }

    &__avatar {
        display: inline-block;
        width: 120px;
        height: 120px;
        @include border-radius(50%);
    }

    &__icon-tv {
        @include icon($tv-image, $tv-width, $tv-height, $tv-offset-x, $tv-offset-y);
    }

    &__icon-cup {
        @include icon($cup-image, $cup-width, $cup-height, $cup-offset-x, $cup-offset-y);
    }

    &__icon-bottle {
        @include icon($bottle-image, $bottle-width, $bottle-height, $bottle-offset-x, $bottle-offset-y);
    }

    &__icon-plane {
        @include icon($plane-image, $plane-width, $plane-height, $plane-offset-x, $plane-offset-y);
    }

    &__icon-wrap {
        position: absolute;
        top: 85px;
        right: 46px;
        width: 40px;
        height: 40px;
        padding: 7px 7px 7px 8px;
        border: 4px solid #fff;
        @include border-radius(50%);

        &--red {
            background-color: $icon-color-1;
        }
        &--green {
            background-color: $icon-color-2;
        }
        &--yellow {
            background-color: $icon-color-3;
        }
        &--blue {
            background-color: $icon-color-4;
        }
    }

    &__name {
        font-family: $montserrat-bold;
        font-size: 14px;

        margin: 19px 0 13px 0;

        color: $other-font-color;
    }

    &__desc {
        font-family: $roboto-light;
        font-size: 14px;
        line-height: 17px;

        color: #666;
    }
}

.button--partners {
    @include button;
    width: 280px;
    margin-left: -4px;
    color: $brand-color;
    border-color: $brand-color;
    &:hover {
        background-color: $brand-color;
        color: #fff;
    }
}




/* 768 */

@media screen and (min-width:768px) {

    .partners {
        margin-top: 94px;
    }

    .width-wrapper--partners {
        width: 540px;
    }

    .section-heading--partner {
        margin-bottom: 32px;
    }

    .partner {
        display: inline-block;
        width: 253px;
        height: 220px;
        margin-bottom: 39px;
        vertical-align: top;

        &__desc {
            width: 220px;
            margin: 0 auto;
        }

        &__icon-wrap {
            right: 62px;
        }
    }

    .button--partners {
        width: 192px;
        margin-top: 13px;
        margin-left: -2px;
    }
}




/* >960px */

@media screen and (min-width:960px) {

    .width-wrapper--partners {
        padding: 0;
    }

    .partner {
        width: 237px;
        display: inline-block;

        &__icon-wrap {
            right: 53px;
        }
    }
}