// color variables
$main-font-color: #fff;
$other-font-color: #333;
$step-font-color: #ccc;
$brand-color: #ff4e50;

//red
$icon-color-1: #ff4e50;
//green
$icon-color-2: #1cd7ad;
//yellow
$icon-color-3: #ffa507;
//blue
$icon-color-4: #4e73db;